<% _.each(videos,function(video) {  %>
<div class="col-md-3">
                <div class="thumbnail">
                	<h3><a href="/video?sessionId=<%= sessionID %>&videoId=<%= video._id%>" id="video-title"> <%= video.name %></a></h3>
                    <video >
  							<source src="<%= video.url%>" type="video/mp4">
  							
							Your browser does not support the video tag.
					</video>
					

                    <div class="caption">
                         
                        <p><%= video.description %></p>

	
                        
                    </div>
                    <input id="input-4-xs" name="input-4" class="rating rating-loading all-rating" data-show-clear="false" data-show-caption="false" data-size="xs" value="<%= calculateRating(video.ratings) %>" value="4.5"  readonly/>
                </div>
            
</div>
<% }) %>            

